$colorBackgroundMain: #FFFFFF; 
$colorBackgroundFooter: #1D438A;
$colorBackgroundNav: #C8102E;
$colorBackgroundBtn: #C8102E;
$underLine: 2px;
$colorText: Black;
$fontFamily: Arial, sans-serif;
$fontSizeXll: 35px;
$fontSizeXl: 24px;
$fontSizeGr_1: 16px;
$fontSizeGr_2: 14px;
$fontSizeMd: 12px;
$fontSizeSm: 8px;
$paddingXll: 30px;
$paddingXl: 20px;
$paddingGr: 10px;
$paddingSm: 5px;
$marginXll: 30px;
$marginXl: 20px;
$marginGr: 10px;
$marginSm: 5px;
$sizeHeader: 200px;
$sizeFooter: 35px;